<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>CodePen - Subnet Calculator</title>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css'>

</head>

<body>
	<!-- partial:index.partial.html -->
	<div ng-app='myApp' ng-controller='myCtrl'>
		<div class="row center">
			<div class="col s12 m12 l12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">IP Subnet Calculator</span>
						<div class="divider"></div><br />
						<input ng-model="oct0" type="number" min="0" max="255" style="width:50px" />.
						<input ng-model="oct1" type="number" min="0" max="255" style="width:50px" />.
						<input ng-model="oct2" type="number" min="0" max="255" style="width:50px" />.
						<input ng-model="oct3" type="number" min="0" max="255" style="width:50px" />/
						<input ng-model="prefix" type="number" min="0" max="32" style="width:50px" />

						<br />
						Class: {{class()}}<br />
						Network Address: {{networkAddress()}}<br />
						Subnet Mask: {{subnetMask()}}<br />
						IP Binary: {{IPBinary()}}<br />
						Network Binary: {{networkBinary}}<br />
						Subnet Binary: {{subnetBinary()}}<br />
						Network Bits: {{prefix}}<br />
						Host Bits: {{32-prefix}}<br />
						Subnet Bits: {{subnetBits()}}<br />
						Total Subnets: {{totalSubnets()}}<br />
						Hosts Per Subnet: {{hostsPerSubnet()}}<br />
						Total Hosts on Network: {{hostCount}}<br />
						Hosts lost to Subnets: {{hostsLostToSubnets()}}
					</div>
				</div>
				<p>
					ID: 63160015 <br>
					Name: Anurak Yutthanawa <br>
					Subject: Computer Network - SUBNET
				</p>
			</div>

		</div>
	</div>
	<!-- partial -->
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js'></script>
	<script src="./script.js"></script>

</body>

</html>